<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  
  <div *ngIf="productPromise | async as products; else loading">
    <div *ngFor="let product of products"
         [ngStyle] = "{background:product.promoted ? 'yellow': 'white'}">
      <h2>{{product.name}}, Price:{{product.price}} pln</h2>
      <p>{{product.description}}</p>
    </div> 
  </div>

  <ng-template #loading>
    Loading data
  </ng-template>


<br/>

  <h1>
    TODOS:
  </h1>
  <my-todo *ngFor="let todo of todos" [todo]="todo"></my-todo>

</div>  


