<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>

  <!--Routing -->
  <div>
    <nav>
      <a routerLink="/a">A</a>
      <a routerLink="/b">B</a>
      <a routerLink="/c">C</a>
    </nav>
    <router-outlet></router-outlet>
  </div>

  <h1>Promoted products:</h1> 
  <div *ngIf="productPromise | async as tempProducts2; else loading">
    <!-- <product-list [products]="tempProducts2 | promoted"></product-list> -->
    <promoted-product-list [products]="tempProducts2"></promoted-product-list> 
  </div>
  <ng-template #loading>
    Loading data
  </ng-template>

  <br style="clear: both"/>
  <div>
    <form #formRef="ngForm" novalidate="true" (ngSubmit)="addProduct(formRef.valid,newProduct)">
      <label>
        Name: <input type="text" #nameRef="ngModel" required [(ngModel)]="newProduct.name" name="name" />
        <div *ngIf="nameRef.touched || nameRef.dirty || formRef.submitted">
          <div *ngIf="nameRef.errors?.required">
            To pole jest wymagane
          </div>
        </div>
      </label>
      <label>
        Price: <input type="number" #priceRef="ngModel" required pattern="^[0-9]" min="0" [(ngModel)]="newProduct.price" name="price" />
        <div *ngIf="priceRef.touched || priceRef.dirty || formRef.submitted">
          <div *ngIf="priceRef.errors?.required">
            To pole jest wymagane
          </div>
          <div *ngIf="priceRef.errors?.min">
            To pole musi mieć większe od zera
          </div>
          <div *ngIf="priceRef.errors?.pattern">
            To pole musi być liczbą większą od zera
          </div>
        </div>
      </label>
      <label>
        Description: <textarea #descriptionRef="ngModel" required [(ngModel)]="newProduct.description" name="description" ></textarea>
        <div *ngIf="descriptionRef.touched || descriptionRef.dirty || formRef.submitted">
          <div *ngIf="descriptionRef.errors?.required">
            To pole jest wymagane
          </div>
        </div>
      </label>
      <label>
        Image URL: <input type="url" #imageUrlRef="ngModel" pattern="https?://.+" required [(ngModel)]="newProduct.imageUrl" name="imageUrl" />
        <div *ngIf="imageUrlRef.touched || imageUrlRef.dirty || formRef.submitted">
          <div *ngIf="imageUrlRef.errors?.required">
            To pole jest wymagane
          </div>
          <div *ngIf="imageUrlRef.errors?.pattern">
            Niepoprawny adres URL.
          </div>
        </div>
      </label>

      <button type="submit">Add</button>
    </form>
  </div>

  <br style="clear: both"/>

  <h1>All products:</h1>
  Find product: <input #in type="text" (input)="filterProduct(in.value)">
  <button (click)="onSortByPrice()" [disabled]="sortByNameEnabled" (hover)="onFocusChange('price')">
    Sortuj po cenie 
    <span *ngIf="toggle"> >>  </span>
    <span *ngIf="!toggle"> <<  </span>
  </button> 
  <button (click)="onSortByName()" (hover)="onFocusChange('name')">
    Sortuj po nazwie 
    <span *ngIf="toggle"> >>  </span>
    <span *ngIf="!toggle"> <<  </span>
  </button> 
  

  <div *ngIf="prom | async as products; else loading2">
    <product-list [products]="products" (deleted)="onDelete($event)"></product-list>  
  </div>
  <ng-template #loading2>
    Loading data
  </ng-template>
  
  <br style="clear: both"/>
 

  <h1>
    TODOS:
  </h1>
  <my-todo *ngFor="let todo of todos" [todo]="todo"></my-todo>
  <h1>
    TODOS HTTP:
  </h1>
  <my-todo *ngFor="let todo of todosHttp" [todo]="todo"></my-todo>
  <h1>
    TODOS FORM:
  </h1>
  <div>
    <form [formGroup]="todoForm">
      <label>
        Title: <input type="text" [formControlName]="'title'" />
      </label>
      <button (click)="addTodo()">Add</button>
    </form>
    <my-todo *ngFor="let todo of todos" [todo]="todo"></my-todo>
  </div>

  <h1>
    Events:
  </h1>

  <div>
    Enter text: <input type="text" [formControl]="myInput">
    <ul>
      <li *ngFor="let value of values">{{ value }}</li>
    </ul>
  </div>

  <div>
    <button #button (click)="onClick(button)">Click me!</button>
      <ul>
        <li *ngFor="let click of clicks">{{ click }}</li>
      </ul>
  </div>

  <my-timer (tick)="onTick($event)"></my-timer>
  <ul>
    <li *ngFor="let tick of ticks">{{ tick.toLocaleTimeString() }}</li>
  </ul>  

</div>  


