<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>

<!--Routing -->
  <div>
            <nav>
                <a routerLink="/a">A</a>
                <a routerLink="/b">B</a>
                <a routerLink="/c">C</a>
            </nav>
            <router-outlet></router-outlet>
        </div>

    
   Find product: <input #in type="text" (input)="filterProduct(in.value)">
   <button #sort (click)="onSort(sort)">Sortuj</button>
    

   <product-list [products]="products"></product-list>

   <div *ngIf="productPromise | async as products; else loading">
      <!-- <h1>All products:</h1> -->
      <!-- <product-list [products]="products"></product-list> -->
      
      <!-- <h1>Promoted products:</h1> -->
      <!-- <product-list [products]="products | promoted"></product-list>  -->
      <!-- <promoted-product-list [products]="products"></promoted-product-list>  -->  
  </div>
 
  <ng-template #loading>
    Loading data
  </ng-template>
  
  <br/>
 
  <h1>
    TODOS:
  </h1>
  <my-todo *ngFor="let todo of todos" [todo]="todo"></my-todo>

  <h1>
    TODOS HTTP:
  </h1>
  <my-todo *ngFor="let todo of todosHttp" [todo]="todo"></my-todo>

<div>
            <form [formGroup]="todoForm">
                <label>
                    Title: <input type="text" [formControlName]="'title'" />
                </label>
                <button (click)="addTodo()">Add</button>
            </form>
            <my-todo *ngFor="let todo of todos" [todo]="todo"></my-todo>
        </div>

<!-- 
 <h1>
    Events:
  </h1>

    <div>
            Enter text: <input type="text" [formControl]="myInput">
            <ul>
                <li *ngFor="let value of values">{{ value }}</li>
            </ul>
        </div>

  <div>
            <button #button (click)="onClick(button)">Click me!</button>
            <ul>
                <li *ngFor="let click of clicks">{{ click }}</li>
            </ul>
        </div>

   <my-timer (tick)="onTick($event)"></my-timer>
            <ul>
                <li *ngFor="let tick of ticks">{{ tick.toLocaleTimeString() }}</li>
            </ul>  


         -->



   
</div>  


